{% extends 'base.html' %}{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="body">

  <!-- second part  -->
  <div class=" container text-center">
    <h1 class="font-weight-bolder">Find the Best Writer for your Essay</h1>
    <p>Post your orders and we'll match it with best writter for you,with best price offers</p>
    <br>
    <img src="{% static 'images/process.png'%}" class="mx-auto d-block img-fluid">
  </div>
  <br>
  <br>
  <!-- About us section -->
  <div class=" container text-center" id="writersh">
    <h1 class="font-weight-bolder">About Us</h1>
    <h5>Penworkresearch.com seeks to establish itself as the research and writing services provider of choice in this
      vast
      industry. The Company specializes in delivering high quality and professional custom-written works to a broad
      diversity
      of clients (See the services section for a comprehensive inventory of our services). This aspiration is achieved
      by
      ensuring that the services offered by this company are custom-built, high-quality, and in most cases, surpass the
      clients’ expectations.
      Prompt service delivery, well-structured communication avenues, and reliable response to customers’ needs are the
      core
      drivers that sustain this company.
      Virtues such as honesty and attention to detail, in all aspects of our services, are inherent within the company’s
      moral
      fiber.
      All services that are offered at Penworkresearch.com are available to clients across the globe.
      We are committed to precisely walk the talk, while we talk less and do more</h5>
  </div>
  <!-- end of about us -->


  <div class="row w3-hide-small">

    <div class="col-sm-3 " style="background-color:whitesmoke;padding-bottom: 10px">
      <div class="media mt-3">
        <img class="rounded-circle bg-success" src="{% static 'images/file-icon.png' %}" alt="file-icon">
        <div class="media-body text-center">
          <h2>02</h2>
          <h2><span class="font-weight-bolder"> <b>Completed Jobs</b></span></h2>
          <hr>
        </div>
      </div>
    </div>


    <div class="col-sm-3 " style="background-color:whitesmoke;">
      <div class="media mt-3">
        <img class="rounded-circle bg-success" src="{% static 'images/pen-icn.png' %}" alt="file-icon">
        <div class="media-body text-center">
          <h2>02</h2>
          <h2><span class="font-weight-bolder"> <b> Qualified Writers</b></span></h2>
          <hr>
        </div>
      </div>
    </div>

    <div class="col-sm-3 " style="background-color:whitesmoke;">
      <div class="media mt-3">
        <img class="rounded-circle bg-success" src="{% static 'images/author-icn.png' %}" alt="file-icon">
        <div class="media-body text-center">
          <h2>00</h2>
          <h2><span class="font-weight-bolder"> <b> Writers Online</b></span></h2>
          <hr>
        </div>
      </div>
    </div>

    <div class="col-sm-3 " style="background-color:whitesmoke">
      <div class="media mt-3">
        <img class="rounded-circle bg-success" src="{% static 'images/pen-icn.png' %}" alt="file-icon">
        <div class="media-body text-center">
          <h2>20</h2>
          <h2><span class="font-weight-bolder"> <b> Registerd Users</b></span></h2>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <!-- how it works and why  choose us -->
  <div class="container-fluid">
    <div class="row ">
      <div class="col w3-card-4 ">
        <h4 class="text-center">How It Works</h4>
        <ul>
          <li>
            <h5>Use calculator to know how much your job would cost</h5>
          </li>
          <li>
            <h5>Create an account or login if you have an account</h5>
          </li>
          <li>
            <h5>Upload Your tasks with all relevant documents.</h5>
          </li>
          <li>
            <h5>Pay for your task</h5>
          </li>
          <li>
            <h5>Use your Track No. To see your task's Progress</h5>
          </li>
          <li>
            <h5>You then accept the final work or you can ask for rivision</h5>
          </li>

        </ul>

      </div>
      <div class="col text-center   w3-card-4">
        <h3>Why Choose Us?</h3>
        <h4>Penworkresearch.com provides bespoke,
          first-class research and writing services on almost every subject
          matter. Our
          writers undertake painstaking research to
          execute every order, and warrant that the final product exceeds the
          clients’
          expectations. The company’s Management has
          worked within the research and writing services industry for a
          reasonably
          lengthy period, and therefore it holds a
          profound understanding regarding the industry’s dynamics.</h4>
      </div>
    </div>
    <!-- end of how it works and why choose us -->

    <div class=" container text-center" id="writersh">
      <h1 class="font-weight-bolder">Our Writers</h1>
      <p>We have highly qualified writers, before joining penworkresearch, <br> they must prove their ability
        to perform.this is done through vigorious scrutiny and tests. <br> You don't have anyother place to get quality
        writing than here.
      </p>
      <br>


      <div class="container">
        <!--Section: Testimonials v.1-->
        <section class="section pb-3 text-center">
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
              <!--Card-->
              <div class="card testimonial-card">
                <!--Background color-->
                <div class="card-up teal lighten-2">
                </div>
                <!--Avatar-->
                <div class="avatar mx-auto white"><img src="http://demo.getpaperweight.com/user/photo/11/100/100"
                    alt="avatar mx-auto white" class="rounded-circle img-fluid" height="40px">
                </div>
                <div class="card-body">
                  <!--Name-->
                  <h4 class="card-title mt-1">Grace Kirigo</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fas fa-quote-left"></i> Arabian Content writer, Experienced writing academic assignments
                  </p>
                  <p><span class="badge badge-pill badge-info">22 orders in completed</span></p> <span
                    class="badge badge-pill badge-info">1 orders in progress</span></p>
                </div>
              </div>
              <!--Card-->

            </div>
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
              <!--Card-->
              <div class="card testimonial-card">
                <!--Background color-->
                <div class="card-up blue lighten-2">
                </div>
                <!--Avatar-->
                <div class="avatar mx-auto white"><img src="http://demo.getpaperweight.com/user/photo/5/100/100"
                    alt="avatar mx-auto white" class="rounded-circle img-fluid">
                </div>

                <div class="card-body">
                  <!--Name-->
                  <h4 class="card-title mt-1">Peterson White</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fas fa-quote-left"></i> With 10 years experince in computer science. he has completed
                    many
                    technical computer cience related writings</p>
                  <p><span class="badge badge-pill badge-info">12 orders in completed</span></p> <span
                    class="badge badge-pill badge-info">2 orders in progress</span></p>
                </div>

              </div>
              <!--Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

              <!--Card-->
              <div class="card testimonial-card">

                <!--Background color-->
                <div class="card-up deep-purple lighten-2"></div>

                <!--Avatar-->
                <div class="avatar mx-auto white"><img src="http://demo.getpaperweight.com/user/photo/6/100/100"
                    alt="avatar mx-auto white" class="rounded-circle img-fluid">
                </div>

                <div class="card-body">
                  <!--Name-->
                  <h4 class="card-title mt-1">Maria Kate</h4>
                  <hr>
                  <!--Quotation-->
                  <p><i class="fas fa-quote-left"></i> Academic writer, Blogger, Experienced with Multi Language skills
                  </p>
                  <p><span class="badge badge-pill badge-info">06 orders in completed</span></p> <span
                    class="badge badge-pill badge-info">0 orders in progress</span></p>
                </div>

              </div>
              <!--Card-->

            </div>
            <!--Grid column-->

          </div>

        </section>
        <!--Section: Testimonials v.1-->
      </div>
    </div>







    {% endblock %}



    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
      <div class="w3-display w3-teal w3-padding-large w3-xlarge">
        Pen Work Research
      </div>
      <div class="w3-display">
        <h1 class="w3-jumbo w3-text-teal w3-animate-top">COMING SOON</h1>
        <hr class="w3-border-red" style="margin:auto;width:40%">
        <p class="w3-xlarge w3-text-teal w3-center"><b>29 days left</b></p>
      </div>
      <div class="w3-display-bottomleft w3-padding-large">
        Made By <a href="#" target="_blank">RSGG</a>
      </div>-->
    </div>