{% extends 'base.html' %}{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="body">

  <!-- second part  -->
  <div class=" container text-center">
    <h1 class="font-weight-bolder">Find the Best Writer for your Essay</h1>
    <p>Post your orders and we'll match it with best writter for you,with best price offers</p>
    <br>
    <img src="{% static 'images/process.png'%}" class="mx-auto d-block img-fluid">
  </div>
  <br>
  <br>
  <div class="row">

    <div class="col-sm-3 " style="background-color:whitesmoke;padding-bottom: 10px">
      <div class="media mt-3">
        <img class="rounded-circle bg-success" src="{% static 'images/file-icon.png' %}" alt="file-icon">
        <div class="media-body text-center">
          <h2>02</h2>
          <h2><span class="font-weight-bolder"> <b>Completed Jobs</b></span></h2>
          <hr>
        </div>
      </div>
    </div>


    <div class="col-sm-3 " style="background-color:whitesmoke;">
      <div class="media mt-3">
        <img class="rounded-circle bg-success" src="{% static 'images/pen-icn.png' %}" alt="file-icon">
        <div class="media-body text-center">
          <h2>02</h2>
          <h2><span class="font-weight-bolder"> <b> Qualified Writers</b></span></h2>
          <hr>
        </div>
      </div>
    </div>

    <div class="col-sm-3 " style="background-color:whitesmoke;">
      <div class="media mt-3">
        <img class="rounded-circle bg-success" src="{% static 'images/author-icn.png' %}" alt="file-icon">
        <div class="media-body text-center">
          <h2>00</h2>
          <h2><span class="font-weight-bolder"> <b> Writers Online</b></span></h2>
          <hr>
        </div>
      </div>
    </div>

    <div class="col-sm-3 " style="background-color:whitesmoke">
      <div class="media mt-3">
        <img class="rounded-circle bg-success" src="{% static 'images/pen-icn.png' %}" alt="file-icon">
        <div class="media-body text-center">
          <h2>20</h2>
          <h2><span class="font-weight-bolder"> <b> Registerd Users</b></span></h2>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class=" container text-center" id="writersh">
    <h1 class="font-weight-bolder">Our Writers</h1>
    <p>We have highly qualified writers, before joining penworkresearch, <br> they must prove their ability
      to perform.this is done through vigorious scrutiny and tests. <br> You don't have anyother place to get quality
      writing than here.
    </p>
    <br>

    <div class="container">
      <!--Section: Testimonials v.1-->
      <section class="section pb-3 text-center">
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">
            <!--Card-->
            <div class="card testimonial-card">
              <!--Background color-->
              <div class="card-up teal lighten-2">
              </div>
              <!--Avatar-->
              <div class="avatar mx-auto white"><img src="http://demo.getpaperweight.com/user/photo/11/100/100"
                  alt="avatar mx-auto white" class="rounded-circle img-fluid" height="40px">
              </div>
              <div class="card-body">
                <!--Name-->
                <h4 class="card-title mt-1">Grace Kirigo</h4>
                <hr>
                <!--Quotation-->
                <p><i class="fas fa-quote-left"></i> Arabian Content writer, Experienced writing academic assignments
                </p>
                <p><span class="badge badge-pill badge-info">22 orders in completed</span></p> <span
                  class="badge badge-pill badge-info">1 orders in progress</span></p>
              </div>
            </div>
            <!--Card-->

          </div>
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">
            <!--Card-->
            <div class="card testimonial-card">
              <!--Background color-->
              <div class="card-up blue lighten-2">
              </div>
              <!--Avatar-->
              <div class="avatar mx-auto white"><img src="http://demo.getpaperweight.com/user/photo/5/100/100"
                  alt="avatar mx-auto white" class="rounded-circle img-fluid">
              </div>

              <div class="card-body">
                <!--Name-->
                <h4 class="card-title mt-1">Peterson White</h4>
                <hr>
                <!--Quotation-->
                <p><i class="fas fa-quote-left"></i> With 10 years experince in computer science. he has completed many
                  technical computer cience related writings</p>
                <p><span class="badge badge-pill badge-info">12 orders in completed</span></p> <span
                  class="badge badge-pill badge-info">2 orders in progress</span></p>
              </div>

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="card testimonial-card">

              <!--Background color-->
              <div class="card-up deep-purple lighten-2"></div>

              <!--Avatar-->
              <div class="avatar mx-auto white"><img src="http://demo.getpaperweight.com/user/photo/6/100/100"
                  alt="avatar mx-auto white" class="rounded-circle img-fluid">
              </div>

              <div class="card-body">
                <!--Name-->
                <h4 class="card-title mt-1">Maria Kate</h4>
                <hr>
                <!--Quotation-->
                <p><i class="fas fa-quote-left"></i> Academic writer, Blogger, Experienced with Multi Language skills
                </p>
                <p><span class="badge badge-pill badge-info">06 orders in completed</span></p> <span
                  class="badge badge-pill badge-info">0 orders in progress</span></p>
              </div>

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

        </div>

      </section>
      <!--Section: Testimonials v.1-->
    </div>
  </div>







  {% endblock %}

  <!-- <h2>Welcome to Pen Work Research! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new to Pen Work
    Research, get started
    by creating a <a href="{% url 'client_signup' %}">Client</a> or a <a href="{% url 'writer_signup' %}">Writer
      account</a>.
    or a <a href="{% url 'sub_admin_signup' %}">Assistant Admin</a>or a <a href="{% url 'admin_signup' %}">Admin</a>
  </p>
  <hr>
  <h3>What's this ?</h3>
  <p>
    This is a test for a work and only clients will login here after completion.
    <br>first create both accounts and you'll be fine to see <br>the different
    levels of users
  </p>




  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display w3-teal w3-padding-large w3-xlarge">
      Pen Work Research
    </div>
    <div class="w3-display">
      <h1 class="w3-jumbo w3-text-teal w3-animate-top">COMING SOON</h1>
      <hr class="w3-border-red" style="margin:auto;width:40%">
      <p class="w3-xlarge w3-text-teal w3-center"><b>29 days left</b></p>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
      Made By <a href="#" target="_blank">RSGG</a>
    </div>-->
</div>