{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Penwork{% endblock %}</title>
  <link rel="icon" href="{% static 'img/favicon.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" <link
    href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontello-2f186091/css/fontello.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
  {% if user.is_authenticated and user.is_writer %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/teachers.css' %}">
  {% else %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/students.css' %}">
  {% endif %}
</head>

<body style="background-color:#e3dedb">


  <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <a class="navbar-brand" href="#">Penworkresearch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link " data-toggle="modal" data-target="#myModal">How it Works</a>
          <!-- add href later remove dts -->
        </li>
        <li class="nav-item">
          <a class="nav-link " data-toggle="modal" data-target="#myModal">Latest Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#writersh">Top Writers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#myModal">FAQs</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="#">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>


  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Information!</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">

          This feature is coming soon! <br> just stay with us
          try login
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


  <!-- <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-md-10 col-sm-12">
        <div class="row">
          <div class="col-6">
            <h1 class="logo">
              <a href="{% url 'home' %}">

                {% if user.is_authenticated %}
                {% if user.is_writer %}
                <span class="icon-feather" data-toggle="tooltip" data-placement="right" title="Teacher profile"></span>
                {% else %}
                <span class="icon-graduation-cap" data-toggle="tooltip" data-placement="right"
                  title="Student profile"></span>
                {% endif %}
                {% endif %}
              </a>
            </h1>
          </div>
          <div class="col-6 text-right">
            {% if user.is_authenticated %}
            <p class="pt-3">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.
            </p>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-light" role="button">Log in</a>
            <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a>
            {% endif %}
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %} -->
  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <footer class="page-footer font-small bg-secondary pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left" style="color:white">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase"> Penwork Research Writers</h5>
          <ul class="list-unstyled">
            <li>contact@penworkresearchers.com</li>
            <li>Tel. +254792799958</li>
            <li>Twitter</li>
            <li>facebook</li>
          </ul>
          <p></p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled ">
            <li>
              <a href="#!" style="color:white">How it works</a>
            </li>
            <li>
              <a href="#!" style="color:white">FAQs</a>
            </li>
            <li>
              <a href="#!" style="color:white">Top writers</a>
            </li>
            <li>
              <a href="#!" style="color:white">Latest Orders</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" style="color:white">Privacy Policy</a>
            </li>
            <li>
              <a href="#!" style="color:white">Return/Refund Policy</a>
            </li>
            <li>
              <a href="#!" style="color:white">License</a>
            </li>
            <li>
              <a href="#!" style="color:white">News</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center bg-dark text-white py-3">© 2019 Copyright:
      <a href="#"> <b>penworkresearch.com</b> </a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    })
  </script>
</body>

</html>