{% extends 'base.html' %}{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-sm-4">
        <h3>My Dashboard</h3>
        <p>Welcome {{ user.username}}</p>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">My Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'clients:order_create' %}">New Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Finance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        <hr class="d-sm-none">
    </div>
    <!-- left side of the page -->

    <div class="col-sm-8">

        <!-- Starts top page -->
        <div class="row w3-hide-small">

            <div class="col-sm-3 " style="background-color:whitesmoke;padding-bottom: 10px">

                <div class="media-body text-center">
                    <h2>02</h2>
                    <h3><span class="font-weight-bolder"> <b>All jobs</b></span></h3>

                </div>

            </div>


            <div class="col-sm-3 " style="background-color:whitesmoke;">

                <div class="media-body text-center">
                    <h2>02</h2>
                    <h2><span class="font-weight-bolder"> <b>Pending</b></span></h2>

                </div>

            </div>

            <div class="col-sm-3 " style="background-color:whitesmoke;">

                <div class="media-body text-center">
                    <h2>00</h2>
                    <h3><span class="font-weight-bolder"> <b>Completed</b></span></h3>

                </div>

            </div>

            <div class="col-sm-3 " style="background-color:whitesmoke">

                <div class="media-body text-center">
                    <h2>20</h2>
                    <h3><span class="font-weight-bolder"> <b>Track Job</b></span></h3>

                </div>

            </div>
        </div>
        <!-- end of Starts -->

        <div class="container">
            <br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">Pending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Completed</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="home" class="container tab-pane active"><br>
                    <h3>ALL Orders</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>T No.</th>
                                    <th>Date created</th>
                                    <th>Due date</th>
                                    <th>Status</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>OD-35405</td>
                                    <td>07-05-2019</td>
                                    <td>10-05-2019</td>
                                    <td>In Progress</td>
                                    <td><i>Add files|comments</i></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>OD-43595</td>
                                    <td>07-05-2019</td>
                                    <td>10-05-2019</td>
                                    <td>Completed</td>
                                    <td><i>No Actions</i></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>OD-345905</td>
                                    <td>07-05-2019</td>
                                    <td>10-05-2019</td>
                                    <td>Pending</td>
                                    <td><i>Pay</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="menu1" class="container tab-pane fade"><br>
                    <h3>Pending Orders</h3>
                    <div class="table-responsive">
                        <table class="table  table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>T No.</th>
                                    <th>Date created</th>
                                    <th>Due date</th>
                                    <th>Actions</th>



                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>OD-1453</td>
                                    <td>02-10-2019</td>
                                    <td>05-10-2019</td>

                                    <td><i>Pay| Edit</i></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>OD-30405</td>
                                    <td>07-05-2019</td>
                                    <td>10-05-2019</td>

                                    <td><i>Add files|comments</i></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>OD-36875</td>
                                    <td>07-05-2019</td>
                                    <td>10-05-2019</td>

                                    <td><i>Add files|comments</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="menu2" class="container tab-pane fade"><br>
                    <h3>Complete Orders</h3>
                    <div class="table-responsive">
                        <table class="table  table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>T No.</th>
                                    <th>Date created</th>
                                    <th>Due date</th>
                                    <th>Completed By:</th>
                                    <th>Actions</th>



                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>OD-56709</td>
                                    <td>12-10-2018</td>
                                    <td>30-10-2018</td>
                                    <td>Symons</td>
                                    <td><i>no actions</i></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>OD-46703</td>
                                    <td>12-10-2019</td>
                                    <td>30-10-2019</td>
                                    <td>James</td>
                                    <td><i>no actions</i></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>OD-2979</td>
                                    <td>12-10-2019</td>
                                    <td>30-10-2019</td>
                                    <td>Grace</td>
                                    <td><i>no actions</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- -->
    </div>
</div>

</div>



{% endblock%}